<% if (Array.isArray(opt.banners) && opt.banners.length && (opt.banners.length === 4)) { %>
  <% const colSize = Math.ceil(12 / opt.banners.length) %>
  <div class="banners-grid-4 mt-2">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-6 mb-3 mb-lg-0" id="banner-primario">
          <%- await include('@/sections/inc/banner', { _, opt: opt.banners[0] }) %>
          <%- await include('@/sections/inc/banner', { _, opt: opt.banners[2] }) %>
        </div>
        <div class="col-12 col-lg-6 mb-3 mb-lg-0" id="banner-secundario">
          <%- await include('@/sections/inc/banner', { _, opt: opt.banners[1] }) %>
          <%- await include('@/sections/inc/banner', { _, opt: opt.banners[3] }) %>
        </div>
      </div>
    </div>
  </div>
<% } %>
